name: Custom Workflow
on:
  push:
    branches: 
      - develop 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: setup node js 18
        uses: actions/setup-node@v3
        with:
            node-version: 18

      - name: Install dependencies
        working-directory: sample-app
        run: |
          npm install  
          npm test 