name: Use Custom Action

on:
  push:
    branches:
      - main

jobs:
  test-action:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Hello World Action
        id: hello
        uses: ./.github/actions/hello-world-action
        with:
          name: "Kaushalya"

      - name: Print Output
        run: echo "Output was: ${{ steps.hello.outputs.greeting }}"
